@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-title {
    @apply text-3xl font-bold text-[#1F1F1F] mt-5;
  }
}

.ql-container.ql-snow {
  border: 1px solid transparent !important;
}
.ql-editor {
  font-size: 1.2rem;
}

h1 {
  display: block;
  font-size: 2rem !important;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5rem !important;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17rem !important;
  font-weight: bold;
}
h4 {
  display: block;
  font-size: 1rem !important;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: 0.83rem !important;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: 0.67rem !important;
  font-weight: bold;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: white;
}
